@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "League Spartan", Helvetica, sans-serif;
}

@layer components {
  .range-slider {
    height: 2rem;
  }

  .range-slider__range {
    background-color: #f87171; /* Tailwind red-400 */
    height: 0.5rem;
  }

  .range-slider__thumb {
    background-color: #ffffff;
    border: 2px solid #4b5563; /* Tailwind gray-600 */
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    cursor: pointer;
  }
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(
    -45deg,
    #dbe4c6,
    #fdf1dc,
    #d0dcbd,
    #e4d7b8,
    #dbe4c6,
    #fdf1dc,
    #d0ddbc,
    #e4d7b8
  );
  background-size: 400% 400%;
  animation: gradient-x 15s ease infinite;
}
